### Import All Necessary Modules

In [37]:
import pandas as pd

In [38]:
import numpy as np

In [39]:
import matplotlib.pyplot as plt

### Load csv to Dataframe

In [40]:
capaciti_EOH_ADSA_df = pd.read_csv(r'C:\Users\Itumeleng.Sekoma\Desktop\Test777777\.ipynb_checkpoints\EOH_ADSA_L9.csv')

### Inspect the Data

In [41]:
# View first 5 records on DataFrame
capaciti_EOH_ADSA_df.head()

,CandidateID,Qualifications,NQF Level,Age,Stipend,Stream,Gender,IQ
0,CitiCan06,Matric,4,24,4950.0,Cyber Security,1,112
1,CitiCan41,Other,4,31,4950.0,Cloud,2,91
2,CitiCan37,Information Technology,5,28,4950.0,Full Stack,2,184
3,CitiCan01,Computer Systems Engineering,5,34,4950.0,Cloud,2,164
4,CitiCan12,Computer Systems Engineering,6,26,4950.0,,2,90

In [42]:
# View Last 5 records on DataFrame
capaciti_EOH_ADSA_df.tail()

,CandidateID,Qualifications,NQF Level,Age,Stipend,Stream,Gender,IQ
45,CitiCan19,Computer Systems Engineering,4,35,4950.0,Data Analytics,1,124
46,CitiCan29,Information Sytems,4,24,4950.0,Cloud,2,114
47,CitiCan44,Matric,6,25,4950.0,Data Analytics,2,114
48,CitiCan20,Information Sytems,7,22,4950.0,,2,168
49,CitiCan42,Information Technology,4,23,4950.0,Cloud,2,113

In [43]:
# Get some general info
capaciti_EOH_ADSA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CandidateID     50 non-null     object
 1   Qualifications  50 non-null     object
 2   NQF Level       50 non-null     int64
 3   Age             50 non-null     int64
 4   Stipend         50 non-null     float64
 5   Stream          50 non-null     object
 6   Gender          50 non-null     int64
 7   IQ              50 non-null     int64
dtypes: float64(1), int64(4), object(3)
memory usage: 3.3+ KB

In [44]:
# Get Statistics
capaciti_EOH_ADSA_df.describe()

       NQF Level        Age  Stipend     Gender          IQ
count   50.00000  50.000000     50.0  50.000000   50.000000
mean     5.38000  26.720000   4950.0   1.580000  129.060000
std      1.21033   4.638085      0.0   0.498569   31.694595
min      4.00000  21.000000   4950.0   1.000000   82.000000
25%      4.00000  23.000000   4950.0   1.000000  107.250000
50%      5.00000  25.500000   4950.0   2.000000  122.500000
75%      6.75000  31.000000   4950.0   2.000000  152.500000
max      7.00000  35.000000   4950.0   2.000000  191.000000

### Clean the Data

In [45]:
# Replace whitespace with nan
capaciti_EOH_ADSA_df.replace(' ',np.nan,inplace=True)
capaciti_EOH_ADSA_df

,CandidateID,Qualifications,NQF Level,Age,Stipend,Stream,Gender,IQ
0,CitiCan06,Matric,4,24,4950.0,Cyber Security,1,112
1,CitiCan41,Other,4,31,4950.0,Cloud,2,91
2,CitiCan37,Information Technology,5,28,4950.0,Full Stack,2,184
3,CitiCan01,Computer Systems Engineering,5,34,4950.0,Cloud,2,164
4,CitiCan12,Computer Systems Engineering,6,26,4950.0,NaN,2,90
5,CitiCan35,Computer Systems Engineering,4,26,4950.0,Full Stack,1,134
6,CitiCan06,Computer Science,4,21,4950.0,Cyber Security,1,187
7,CitiCan17,Computer Systems Engineering,5,22,4950.0,Data Analytics,1,117
8,CitiCan09,Other,7,26,4950.0,Cyber Security,2,108
9,CitiCan02,Information Sytems,4,30,4950.0,Full Stack,2,191
10,CitiCan18,Matric,5,24,4950.0,Cyber Security,2,184
11,CitiCan49,Information Technology,6,21,4950.0,Data Analytics,1,82
12,CitiCan36,Information Technology,6,26,4950.0,Data Analytics,2,107
13,CitiCan28,Matric,7,35,4950.0,Data Analytics,2,163
14,CitiCan41,Information Sytems,4,21,4950.0,Cyber Security,2,169
15,CitiCan37,Computer Science,5,22,4950.0,Full Stack,2,103
16,CitiCan49,Information Technology,5,23,4950.0,Cyber Security,1,133
17,CitiCan26,Computer Science,7,25,4950.0,Data Analytics,1,131
18,CitiCan04,Other,5,23,4950.0,NaN,2,126
19,CitiCan40,Computer Science,5,21,4950.0,Data Analytics,2,100
20,CitiCan36,Other,7,34,4950.0,Data Analytics,1,133
21,CitiCan31,Information Technology,6,24,4950.0,Full Stack,1,109
22,CitiCan30,Computer Science,7,23,4950.0,Cyber Security,1,147
23,CitiCan34,Matric,7,31,4950.0,Full Stack,2,115
24,CitiCan19,Computer Systems Engineering,6,34,4950.0,Cyber Security,2,119
25,CitiCan18,Information Technology,6,21,4950.0,Data Analytics,1,89
26,CitiCan30,Computer Systems Engineering,7,28,4950.0,Data Analytics,2,153
27,CitiCan21,Other,4,26,4950.0,Data Analytics,2,121
28,CitiCan03,Information Technology,6,30,4950.0,Cyber Security,2,103
29,CitiCan06,Information Sytems,7,21,4950.0,Data Analytics,2,83
30,CitiCan38,Computer Systems Engineering,5,31,4950.0,Full Stack,2,126
31,CitiCan13,Information Technology,4,23,4950.0,Full Stack,1,170
32,CitiCan45,Computer Science,5,32,4950.0,Data Analytics,1,130
33,CitiCan03,Computer Systems Engineering,6,31,4950.0,NaN,1,188
34,CitiCan48,Other,4,28,4950.0,Cyber Security,2,83
35,CitiCan28,Computer Systems Engineering,7,32,4950.0,NaN,1,111
36,CitiCan22,Computer Systems Engineering,4,23,4950.0,Data Analytics,2,89
37,CitiCan40,Information Technology,6,30,4950.0,NaN,1,90
38,CitiCan40,Computer Science,4,23,4950.0,Cyber Security,2,107
39,CitiCan12,Computer Science,7,35,4950.0,Cyber Security,2,125
40,CitiCan23,Computer Science,7,24,4950.0,NaN,1,151
41,CitiCan31,Information Technology,4,35,4950.0,Cloud,1,119
42,CitiCan18,Information Sytems,7,32,4950.0,Cyber Security,1,141
43,CitiCan07,Matric,4,24,4950.0,Data Analytics,2,165
44,CitiCan08,Computer Systems Engineering,4,23,4950.0,Data Analytics,1,177
45,CitiCan19,Computer Systems Engineering,4,35,4950.0,Data Analytics,1,124
46,CitiCan29,Information Sytems,4,24,4950.0,Cloud,2,114
47,CitiCan44,Matric,6,25,4950.0,Data Analytics,2,114
48,CitiCan20,Information Sytems,7,22,4950.0,NaN,2,168
49,CitiCan42,Information Technology,4,23,4950.0,Cloud,2,113

In [46]:
# Drop Nulls
missingValues = capaciti_EOH_ADSA_df.isna().sum()
missingValues

CandidateID       0
Qualifications    0
NQF Level         0
Age               0
Stipend           0
Stream            7
Gender            0
IQ                0
dtype: int64

In [47]:
# Drop records with any null values
capaciti_EOH_ADSA_df = capaciti_EOH_ADSA_df.dropna()

In [48]:
capaciti_EOH_ADSA_df

,CandidateID,Qualifications,NQF Level,Age,Stipend,Stream,Gender,IQ
0,CitiCan06,Matric,4,24,4950.0,Cyber Security,1,112
1,CitiCan41,Other,4,31,4950.0,Cloud,2,91
2,CitiCan37,Information Technology,5,28,4950.0,Full Stack,2,184
3,CitiCan01,Computer Systems Engineering,5,34,4950.0,Cloud,2,164
5,CitiCan35,Computer Systems Engineering,4,26,4950.0,Full Stack,1,134
6,CitiCan06,Computer Science,4,21,4950.0,Cyber Security,1,187
7,CitiCan17,Computer Systems Engineering,5,22,4950.0,Data Analytics,1,117
8,CitiCan09,Other,7,26,4950.0,Cyber Security,2,108
9,CitiCan02,Information Sytems,4,30,4950.0,Full Stack,2,191
10,CitiCan18,Matric,5,24,4950.0,Cyber Security,2,184
11,CitiCan49,Information Technology,6,21,4950.0,Data Analytics,1,82
12,CitiCan36,Information Technology,6,26,4950.0,Data Analytics,2,107
13,CitiCan28,Matric,7,35,4950.0,Data Analytics,2,163
14,CitiCan41,Information Sytems,4,21,4950.0,Cyber Security,2,169
15,CitiCan37,Computer Science,5,22,4950.0,Full Stack,2,103
16,CitiCan49,Information Technology,5,23,4950.0,Cyber Security,1,133
17,CitiCan26,Computer Science,7,25,4950.0,Data Analytics,1,131
19,CitiCan40,Computer Science,5,21,4950.0,Data Analytics,2,100
20,CitiCan36,Other,7,34,4950.0,Data Analytics,1,133
21,CitiCan31,Information Technology,6,24,4950.0,Full Stack,1,109
22,CitiCan30,Computer Science,7,23,4950.0,Cyber Security,1,147
23,CitiCan34,Matric,7,31,4950.0,Full Stack,2,115
24,CitiCan19,Computer Systems Engineering,6,34,4950.0,Cyber Security,2,119
25,CitiCan18,Information Technology,6,21,4950.0,Data Analytics,1,89
26,CitiCan30,Computer Systems Engineering,7,28,4950.0,Data Analytics,2,153
27,CitiCan21,Other,4,26,4950.0,Data Analytics,2,121
28,CitiCan03,Information Technology,6,30,4950.0,Cyber Security,2,103
29,CitiCan06,Information Sytems,7,21,4950.0,Data Analytics,2,83
30,CitiCan38,Computer Systems Engineering,5,31,4950.0,Full Stack,2,126
31,CitiCan13,Information Technology,4,23,4950.0,Full Stack,1,170
32,CitiCan45,Computer Science,5,32,4950.0,Data Analytics,1,130
34,CitiCan48,Other,4,28,4950.0,Cyber Security,2,83
36,CitiCan22,Computer Systems Engineering,4,23,4950.0,Data Analytics,2,89
38,CitiCan40,Computer Science,4,23,4950.0,Cyber Security,2,107
39,CitiCan12,Computer Science,7,35,4950.0,Cyber Security,2,125
41,CitiCan31,Information Technology,4,35,4950.0,Cloud,1,119
42,CitiCan18,Information Sytems,7,32,4950.0,Cyber Security,1,141
43,CitiCan07,Matric,4,24,4950.0,Data Analytics,2,165
44,CitiCan08,Computer Systems Engineering,4,23,4950.0,Data Analytics,1,177
45,CitiCan19,Computer Systems Engineering,4,35,4950.0,Data Analytics,1,124
46,CitiCan29,Information Sytems,4,24,4950.0,Cloud,2,114
47,CitiCan44,Matric,6,25,4950.0,Data Analytics,2,114
49,CitiCan42,Information Technology,4,23,4950.0,Cloud,2,113

In [49]:
# Reset Index
capaciti_EOH_ADSA_df.reset_index(drop=True,inplace=True)

In [50]:
capaciti_EOH_ADSA_df

,CandidateID,Qualifications,NQF Level,Age,Stipend,Stream,Gender,IQ
0,CitiCan06,Matric,4,24,4950.0,Cyber Security,1,112
1,CitiCan41,Other,4,31,4950.0,Cloud,2,91
2,CitiCan37,Information Technology,5,28,4950.0,Full Stack,2,184
3,CitiCan01,Computer Systems Engineering,5,34,4950.0,Cloud,2,164
4,CitiCan35,Computer Systems Engineering,4,26,4950.0,Full Stack,1,134
5,CitiCan06,Computer Science,4,21,4950.0,Cyber Security,1,187
6,CitiCan17,Computer Systems Engineering,5,22,4950.0,Data Analytics,1,117
7,CitiCan09,Other,7,26,4950.0,Cyber Security,2,108
8,CitiCan02,Information Sytems,4,30,4950.0,Full Stack,2,191
9,CitiCan18,Matric,5,24,4950.0,Cyber Security,2,184
10,CitiCan49,Information Technology,6,21,4950.0,Data Analytics,1,82
11,CitiCan36,Information Technology,6,26,4950.0,Data Analytics,2,107
12,CitiCan28,Matric,7,35,4950.0,Data Analytics,2,163
13,CitiCan41,Information Sytems,4,21,4950.0,Cyber Security,2,169
14,CitiCan37,Computer Science,5,22,4950.0,Full Stack,2,103
15,CitiCan49,Information Technology,5,23,4950.0,Cyber Security,1,133
16,CitiCan26,Computer Science,7,25,4950.0,Data Analytics,1,131
17,CitiCan40,Computer Science,5,21,4950.0,Data Analytics,2,100
18,CitiCan36,Other,7,34,4950.0,Data Analytics,1,133
19,CitiCan31,Information Technology,6,24,4950.0,Full Stack,1,109
20,CitiCan30,Computer Science,7,23,4950.0,Cyber Security,1,147
21,CitiCan34,Matric,7,31,4950.0,Full Stack,2,115
22,CitiCan19,Computer Systems Engineering,6,34,4950.0,Cyber Security,2,119
23,CitiCan18,Information Technology,6,21,4950.0,Data Analytics,1,89
24,CitiCan30,Computer Systems Engineering,7,28,4950.0,Data Analytics,2,153
25,CitiCan21,Other,4,26,4950.0,Data Analytics,2,121
26,CitiCan03,Information Technology,6,30,4950.0,Cyber Security,2,103
27,CitiCan06,Information Sytems,7,21,4950.0,Data Analytics,2,83
28,CitiCan38,Computer Systems Engineering,5,31,4950.0,Full Stack,2,126
29,CitiCan13,Information Technology,4,23,4950.0,Full Stack,1,170
30,CitiCan45,Computer Science,5,32,4950.0,Data Analytics,1,130
31,CitiCan48,Other,4,28,4950.0,Cyber Security,2,83
32,CitiCan22,Computer Systems Engineering,4,23,4950.0,Data Analytics,2,89
33,CitiCan40,Computer Science,4,23,4950.0,Cyber Security,2,107
34,CitiCan12,Computer Science,7,35,4950.0,Cyber Security,2,125
35,CitiCan31,Information Technology,4,35,4950.0,Cloud,1,119
36,CitiCan18,Information Sytems,7,32,4950.0,Cyber Security,1,141
37,CitiCan07,Matric,4,24,4950.0,Data Analytics,2,165
38,CitiCan08,Computer Systems Engineering,4,23,4950.0,Data Analytics,1,177
39,CitiCan19,Computer Systems Engineering,4,35,4950.0,Data Analytics,1,124
40,CitiCan29,Information Sytems,4,24,4950.0,Cloud,2,114
41,CitiCan44,Matric,6,25,4950.0,Data Analytics,2,114
42,CitiCan42,Information Technology,4,23,4950.0,Cloud,2,113

In [51]:
# Replace numerical data in Gender column to categorize
capaciti_EOH_ADSA_df['Gender'] = capaciti_EOH_ADSA_df['Gender'].map({1:'Male', 2:'Female'})

C:\Users\Itumeleng.Sekoma\AppData\Local\Temp\ipykernel_12860\3078516305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  capaciti_EOH_ADSA_df['Gender'] = capaciti_EOH_ADSA_df['Gender'].map({1:'Male', 2:'Female'})

In [52]:
capaciti_EOH_ADSA_df

,CandidateID,Qualifications,NQF Level,Age,Stipend,Stream,Gender,IQ
0,CitiCan06,Matric,4,24,4950.0,Cyber Security,Male,112
1,CitiCan41,Other,4,31,4950.0,Cloud,Female,91
2,CitiCan37,Information Technology,5,28,4950.0,Full Stack,Female,184
3,CitiCan01,Computer Systems Engineering,5,34,4950.0,Cloud,Female,164
4,CitiCan35,Computer Systems Engineering,4,26,4950.0,Full Stack,Male,134
5,CitiCan06,Computer Science,4,21,4950.0,Cyber Security,Male,187
6,CitiCan17,Computer Systems Engineering,5,22,4950.0,Data Analytics,Male,117
7,CitiCan09,Other,7,26,4950.0,Cyber Security,Female,108
8,CitiCan02,Information Sytems,4,30,4950.0,Full Stack,Female,191
9,CitiCan18,Matric,5,24,4950.0,Cyber Security,Female,184
10,CitiCan49,Information Technology,6,21,4950.0,Data Analytics,Male,82
11,CitiCan36,Information Technology,6,26,4950.0,Data Analytics,Female,107
12,CitiCan28,Matric,7,35,4950.0,Data Analytics,Female,163
13,CitiCan41,Information Sytems,4,21,4950.0,Cyber Security,Female,169
14,CitiCan37,Computer Science,5,22,4950.0,Full Stack,Female,103
15,CitiCan49,Information Technology,5,23,4950.0,Cyber Security,Male,133
16,CitiCan26,Computer Science,7,25,4950.0,Data Analytics,Male,131
17,CitiCan40,Computer Science,5,21,4950.0,Data Analytics,Female,100
18,CitiCan36,Other,7,34,4950.0,Data Analytics,Male,133
19,CitiCan31,Information Technology,6,24,4950.0,Full Stack,Male,109
20,CitiCan30,Computer Science,7,23,4950.0,Cyber Security,Male,147
21,CitiCan34,Matric,7,31,4950.0,Full Stack,Female,115
22,CitiCan19,Computer Systems Engineering,6,34,4950.0,Cyber Security,Female,119
23,CitiCan18,Information Technology,6,21,4950.0,Data Analytics,Male,89
24,CitiCan30,Computer Systems Engineering,7,28,4950.0,Data Analytics,Female,153
25,CitiCan21,Other,4,26,4950.0,Data Analytics,Female,121
26,CitiCan03,Information Technology,6,30,4950.0,Cyber Security,Female,103
27,CitiCan06,Information Sytems,7,21,4950.0,Data Analytics,Female,83
28,CitiCan38,Computer Systems Engineering,5,31,4950.0,Full Stack,Female,126
29,CitiCan13,Information Technology,4,23,4950.0,Full Stack,Male,170
30,CitiCan45,Computer Science,5,32,4950.0,Data Analytics,Male,130
31,CitiCan48,Other,4,28,4950.0,Cyber Security,Female,83
32,CitiCan22,Computer Systems Engineering,4,23,4950.0,Data Analytics,Female,89
33,CitiCan40,Computer Science,4,23,4950.0,Cyber Security,Female,107
34,CitiCan12,Computer Science,7,35,4950.0,Cyber Security,Female,125
35,CitiCan31,Information Technology,4,35,4950.0,Cloud,Male,119
36,CitiCan18,Information Sytems,7,32,4950.0,Cyber Security,Male,141
37,CitiCan07,Matric,4,24,4950.0,Data Analytics,Female,165
38,CitiCan08,Computer Systems Engineering,4,23,4950.0,Data Analytics,Male,177
39,CitiCan19,Computer Systems Engineering,4,35,4950.0,Data Analytics,Male,124
40,CitiCan29,Information Sytems,4,24,4950.0,Cloud,Female,114
41,CitiCan44,Matric,6,25,4950.0,Data Analytics,Female,114
42,CitiCan42,Information Technology,4,23,4950.0,Cloud,Female,113

### Determine the proportion of male and female employees in each Stream.

In [53]:
# Create a pivot table for proportions
gender_proportion_by_stream = capaciti_EOH_ADSA_df.pivot_table(index='Stream',columns='Gender',aggfunc='size',fill_value=0)

In [54]:
gender_proportion_by_stream['Total'] = gender_proportion_by_stream.sum(axis=1)

In [55]:
gender_proportion_by_stream['Male'] = round(gender_proportion_by_stream['Male'] / gender_proportion_by_stream['Total'] * 100,2)

In [56]:
gender_proportion_by_stream['Female'] = round(gender_proportion_by_stream['Female'] / gender_proportion_by_stream['Total'] * 100,2)

In [57]:
gender_proportion_by_stream[['Male','Female']]

Gender           Male  Female
Stream
Cloud           20.00   80.00
Cyber Security  38.46   61.54
Data Analytics  47.06   52.94
Full Stack      37.50   62.50

# Find Outliers based on IQ scores

In [58]:
# Find Q1
q1 = capaciti_EOH_ADSA_df['IQ'].quantile(0.25)
print('First Quatile:',q1)

First Quatile: 107.5

In [59]:
# Find Q3
q3 = capaciti_EOH_ADSA_df['IQ'].quantile(0.75)
print('Third Quatile:',q3)

Third Quatile: 150.0

In [60]:
# Get Interquatile Range
IQR = q3 - q1
print('Interquatile Range:',IQR)

Interquatile Range: 42.5

In [61]:
# Get lower bound
lower_bound = q1 - 1.5 * IQR
print('Lower Bound:',lower_bound)

Lower Bound: 43.75

In [62]:
# Get upper bound
upper_bound = q3 + 1.5 * IQR
print('Upper Bound:',upper_bound)

Upper Bound: 213.75

In [63]:
# Use upper and lower bounds to get Outliers
outliers = capaciti_EOH_ADSA_df[(capaciti_EOH_ADSA_df['IQ'] >= upper_bound) | (capaciti_EOH_ADSA_df['IQ']<= lower_bound)]
outliers

Empty DataFrame
Columns: [CandidateID, Qualifications, NQF Level, Age, Stipend, Stream, Gender, IQ]
Index: []

In [64]:
# Find top 10 candidates with the highest IQ
sorted_IQ = capaciti_EOH_ADSA_df['IQ'].sort_values(ascending=False)
highest_candidate_IQ = sorted_IQ.head(10)
print(highest_candidate_IQ)

8     191
5     187
2     184
9     184
38    177
29    170
13    169
37    165
3     164
12    163
Name: IQ, dtype: int64

In [66]:
# Find buttom 10 candidates with the lowest IQ
lowest_candidate_IQ = sorted_IQ.tail(10)
lowest_candidate_IQ.reset_index(drop=True,inplace=True)
print(lowest_candidate_IQ)

None